{% extends 'dashboard.html' %}
{% block angle_down_icon %}<i class="fas fa-angle-down me-3"></i>{% endblock %}
{% block dropdown %}
              <div class="dropdown-menu">
                <h6 class="dropdown-header">Add</h6>
                <a class="dropdown-item" href="{% url 'note_edit' %}?account={{ item.pk }}"><i class="fas fa-plus-circle me-1"></i>Note</a>
              </div>
{% endblock %}
{% block dashboard %}
    <div class="row my-3">
      <div class="col-12 text-right">
{% with url_delete="account_edit" url_copy="account_edit" %}
{% include 'object_actions.html' %}
{% endwith %}
      </div>
    </div>
{% include 'field_table_account.html' %}
{% endblock %}
