          <table class="table table-{{ display_mode.bg }} table-bordered table-striped table-hover fs-6">
            <thead>
              <tr class="">
                <th><i class="fas fa-list-ol"></i></th>
                <th><i class="fa fa-building"></i></th>
                <th><i class="fas fa-archive"></i></th>
                <th><i class="fas fa-upload"></i></th>
              </tr>
            </thead>
            <tbody>
            {% for item in items %}
              <tr onclick="window.location='{% url 'client_view' item.pk %}'" style="cursor: pointer">
                <td>{% if items.start_index %}{{ items.start_index|add:forloop.counter|add:"-1" }}{% else %}{{ forloop.counter }}{% endif %}</td>
                <td>{{ item.name|default:'' }}</td>
                <td>{% if not item.active %}<i class="fas fa-archive text-info"></i>{% endif %}</td>
                <td>{% if item.publish %}<i class="fas fa-upload text-success"></i>{% endif %}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
