{% extends 'dashboard.html' %}
{% block angle_down_icon %}<i class="fas fa-angle-down me-3"></i>{% endblock %}
{% block dropdown %}
              <div class="dropdown-menu">
                <h6 class="dropdown-header">Export</h6>
                <a class="dropdown-item" href="{% url 'report_index'  %}?mail=1"><i class="far fa-envelope mr-1"></i>Mail</a>
              </div>
{% endblock %}
{% block dashboard %}
{% include 'statcards.html' %}
{% with items=items.reports %}
{% include 'pagination.html' %}
{% include 'report_index_table.html' %}
{% include 'pagination.html' %}
{% endwith %}
{% endblock %}
