{% extends 'root/home_page.html' %}
{% load static %}
{% block content %}
<div class="container">
  <div class="row py-3">
    <div class="col-12 p-3 lead">
      <h1 class="py-3">Career Opportunities</h1>
      <p class="lead">We are always looking for talented and experienced professionals to join our team of core developers.</p> <p><a style="text-decoration: none" href="{% url 'contact' %}">Please contact us</a> to learn more about working with ACLARK.NET.</p>
    </div>
  </div>
</div>
{% endblock %}
