{% extends 'root/home_page.html' %}
{% load static %}
{% block content %}
    <div class="block app-price-plans">
      <div class="container text-center">

        <div class="row mb-5 justify-content-center">
          <div class="col-10 col-md-8 col-lg-6">
            <h6 class="text-dark text-uppercase mb-2">Team</h6>
            <h2>Management</h2>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 px-4 pb-2 mb-5">
            <div class="px-2 mb-2">
              <img class="mb-4 border border-muted p-4" src="{% static 'img/aclark-jobs-75-100.jpg' %}">
              <h2>Alex Clark</h2>
              <h6 class="text-dark text-uppercase mb-4">President &amp; Co-Founder</h6>
            </div>
            <div class="text-left border-bottom border-top pt-4">
              <p>Alex Clark is President and co-founder of ACLARK.NET, LLC.</p>
              <p>He has a Bachelor of Science in Computer Science from Loyola University in Maryland and has worked as a Network Engineer, Software Engineer, Systems Administrator and Technical Team Leader since May 1998. </p>
              <p class="">He is also President &amp; Executive Director of DC Python, a non-profit organization he co-founded to promote and support the use of Python software in DC.</p>
              <div class="text-center my-5">
                <div class="btn-group" role="group" aria-label="View Résumé and Blog">
                  <a class="btn btn-lg btn-warning" target="_blank" href="https://blog.aclark.net">Blog</a>
                  <a class="btn btn-lg btn-warning" target="_blank" href="https://resume.aclark.net">Résumé</a>
                </div>
              </div>
              <ul class="list-unstyled list-inline text-center"> 
                <li class="list-inline-item px-1"><a target="_blank" href="https://www.facebook.com/aclark4life"><i class="text-muted fab fa-facebook fa-2x"></i></a></li>
                <li class="list-inline-item px-1"><a target="_blank" href="https://github.com/aclark4life"><i class="text-muted fab fa-github-square fa-2x"></i></a></li>
                <li class="list-inline-item px-1"><a target="_blank" href="https://linkedin.com/in/aclark4life"><i class="text-muted fab fa-linkedin fa-2x"></i></a></li>
                <li class="list-inline-item px-1"><a target="_blank" href="https://twitter.com/aclark4life"><i class="text-muted fab fa-twitter fa-2x"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-6 px-4 pb-2 mb-5">
            <div class="px-2">
              <img class="mb-4 border border-muted p-4" src="{% static 'img/amy.png' %}">
              <h2>Amy Clark</h2>
              <h6 class="text-dark text-uppercase mb-4">Business Coordinator &amp; Co-Founder</h6>
            </div>
            <div class="text-left border-bottom border-top pt-4">
              <p>Amy Clark is Business Coordinator and co-founder of ACLARK.NET, LLC.</p>
              <p>She brings many years of professional sales, marketing, management, administrative and financial/legal experience to the ACLARK.NET, LLC team.</p>
              <p>She facilitates the smooth and uncomplicated engagement of our services and ensures the quality, accuracy and efficiency of all ACLARK.NET, LLC client accounts.</p>
              <p>She is also the Secretary and Treasurer of ZPUGDC, INC. / DC Python, a non-profit organization she co-founded in 2008 to promote and support the use of Python software in DC.</p>
              <ul class="list-unstyled list-inline text-center"> 
                <li class="list-inline-item"><a target="_blank" href="https://www.linkedin.com/in/aec7815"><i class="text-muted fab fa-linkedin fa-2x"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row mb-5 mt-5 justify-content-center" id="staff">
          <div class="col-10 col-md-8 col-lg-6">
            <h6 class="text-dark text-uppercase mb-2">Team</h6>
            <h2>Development &amp; Support</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 px-4 pb-2 mb-5">
            <div class="px-2 mb-2">
              <img class="mb-4 border border-muted p-4" src="{% static 'img/alan.jpg' %}">
              <h2>Alan Swenson</h2>
              <h6 class="text-dark text-uppercase mb-4">Web Developer</h6>
            </div>
            <div class="text-left border-bottom border-top pt-4">
              <p class="pb-2">Professional in Audio Post Production with 11 years experience. Working on leveling up with Python, Flask, Postgres, Zappa, Lambda and Rust.</p>
            </div>
          </div>
          <div class="col-md-6 px-4 pb-2 mb-5">
            <div class="px-2">
              <img class="mb-4 border border-muted p-4" src="{% static 'img/eric.jpg' %}">
              <h2>Eric Soroos</h2>
              <h6 class="text-dark text-uppercase mb-4">Web &amp; iOS Developer</h6>
            </div>
            <div class="text-left border-bottom border-top pt-4">
              <p class="pb-2">Eric is a developer and system administrator located near Dublin, Ireland with recent experience in the fintech/payments industry. As a maintainer of the Pillow project, he has experience with all levels of the Python stack. He has been working with the Python ecosystem for over 15 years.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 px-4 pb-2 mb-5">
            <div class="px-2">
              <img class="mb-4 border border-muted p-4" src="{% static 'img/T09CZ5R6G-UTHTJKH1T-44332b5fd38b-192.jpeg' %}">
              <h2>David Hostetler</h2>
              <h6 class="text-dark text-uppercase mb-4">Web Developer</h6>
            </div>
            <div class="text-left border-bottom border-top pt-4">
              <p class="pb-2">David has developed software for over 20 years, for a wide variety of purposes.  He's made video games look better, helped detect nuclear explosions, enabled architects to design better buildings, and shepherded lots and lots of web traffic.  He enjoys being outdoors around his New England home, even when it's just shoveling snow.
              </p>
            </div>
          </div>
          <div class="col-md-6 px-4 pb-2 mb-5">
            <div class="px-2">
              <img class="mb-4 border border-muted p-4" src="{% static 'img/quincey.jpg' %}">
              <h2>Quincey Clark</h2>
              <h6 class="text-dark text-uppercase mb-4">Python Programming Pomeranian</h6>
            </div>
            <div class="text-left border-bottom border-top pt-4">
              <p class="pb-2">Quincey brings over 5 years of loud barking and super fluffy experience to the ACLARK.NET, LLC team. He is our team's official "PPP" (Python Programming Pomeranian).</p>
            </div>
          </div>
          {% comment %}
          <div class="col-md-6 px-4 pb-2 mb-5">
            <div class="px-2 mb-2">
              <img class="mb-4 border border-muted p-4" src="{% static 'img/steveb.jpeg' %}">
              <h2>Steve Barber</h2>
              <h6 class="text-dark text-uppercase mb-4">System Administrator</h6>
            </div>
            <div class="text-left border-bottom border-top pt-4">
              <p class="pb-2">Steve Barber has a Bachelor of Science in Computer Science and has been a Computer Scientist at the National Institute of Standards and Technology (NIST) since 1995, where he provides infrastructure support for over 500 scientists performing various kinds of research.</p>
            </div>
          </div>
          {% endcomment %}
        </div>
        <div class="row">
          <div class="col-md-6 px-4 pb-2 mx-auto">
            <div class="px-2">
              <i class="fa fa-users fa-5x"></i>
              <h2>Additional Developers</h2>
            </div>
            <div class="text-left border-bottom border-top pt-4">
              <p class="pb-2">Our talented in-house team also includes technical experts in fields including (but not limited to) UI/UX, product development, GIS and DevOps.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
